<!DOCTYPE html>

<HTML>
<BODY bgcolor="cyan">
    <form method="POST" action="">
        <center>
            <H1>Enter your details </H1> <br>
            user_id <input type="number" name="user_id" /> <br>
            offer_id <input type="text" name="offer_id" /> <br>
            area_id <input type="text" name="area_id" /> <br>
            time_start <input type="text" name="time_start" /> <br>
            time_end <input type="text" name="time_end" /> <br>
            surge <input type="number" name="surge" /> <br>
            price <input type="number" name="price" /> <br>
            tips <input type="number" name="tips" /> <br>            
            <input type="submit">
        </center>
    </form>
</BODY>
</HTML>
